@import '../../../scss/abstracts/variables';

.main-keypad{

    display: grid;
    grid-template-columns: repeat(5, minmax(3.75rem, 7.81rem));
    grid-template-rows: repeat(3, minmax(6rem, 0.19rem));
    gap: 1rem;
    
    .one { grid-area: 3 / 2 / 4 / 3; }
    .two { grid-area: 3 / 3 / 4 / 4; }
    .three { grid-area: 2 / 1 / 3 / 2; }
    .four { grid-area: 2 / 2 / 3 / 3; }
    .five { grid-area: 2 / 3 / 3 / 4; }
    .six { grid-area: 2 / 4 / 3 / 5; }
    .seven { grid-area: 1 / 1 / 2 / 2; }
    .eight { grid-area: 1 / 2 / 2 / 3; }
    .nine { grid-area: 1 / 3 / 2 / 4; }
    .zero { grid-area: 1 / 4 / 2 / 5; }
    .dot { grid-area: 3 / 1 / 4 / 2; }
    .add { grid-area: 3 / 4 / 4 / 5; }
    .subtract { grid-area: 3 / 5 / 4 / 6; }
    .multiply { grid-area: 2 / 5 / 3 / 6; }
    .split { grid-area: 1 / 5 / 2 / 6; }
    .more-ops { 
        display: none;
        background: #000000;
        border-width: 4px 4px 7px 4px;
        border-style: solid;
        border-color: #3A3A3A;
        border-radius: 1.3125rem;

        * {
            color: white;
        }
    }

    &__number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.625rem;
        gap: 0.625rem;
        
        font-weight: 700;
        font-size: 2.25rem;
        color: #656565;
        cursor: pointer;

        background: $whiteColor;
        border-width: 0.375rem 0.37rem 0.75rem 0.37rem;
        border-style: solid;
        border-color: $borderColorNumber;
        border-radius: 2.3125rem;
        
        @media  screen and (max-width: 80.625rem) {
            font-size: 1.5625rem;
            border-radius: 1.875rem;
        }
        @media  screen and (max-width: 41.25rem) {
            font-size: 1.25rem;
            border-radius: 1.3125rem;
            border-width: 0.25rem 0.25rem 0.4375rem 0.25rem;
        }
    }

    #dark &__number{
        background-color: #262626;
        border-color: #363636;
        color: #a4a4a4;
    }

    &__operation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        font-weight: 700;
        font-size: 36px;
        cursor: pointer;

        
        background: $roseColor;
        border-radius: 37px;
        border-width: 6px 6px 12px 6px;
        border-style: solid;
        border-color: #ffffff8a;

        background: linear-gradient(80deg,#f17c5883, #e9458486, #24aadb8f , #27dbb188,#ffdc1886, #ff38068e);
        background-size: 999% 800%;
        animation: gradient 16s linear infinite;
        animation-direction: alternate;

        @media  screen and (max-width: 80.625rem) {
            font-size: 1.5625rem;
            border-radius: 1.875rem;

            svg{
                height: 1.4rem;
            }
            &.subtract > svg{
                width: 20px;
            }
        }

        @media  screen and (max-width: 41.25rem) {
            font-size: 1.25rem;
            border-radius: 1.3125rem;
            border-width: 0.25rem 0.25rem 0.4375rem 0.25rem;

            svg{
                height: 1rem;
            }
            &.subtract > svg {
                width: 0.9375rem;
            }
        }

        @keyframes gradient {
            0% {background-position: 0%}
            100% {background-position: 100%}
        }
    }

    #dark &__operation{
        border-color: #1a1a1a8a;

        svg > *{
            fill: #fff;
        }
    }

    @media screen and (max-width: 41.25rem) {

        grid-template-columns: repeat(4, minmax(3.75rem, 7.81rem));
        grid-template-rows: repeat(4, minmax(3.75rem, 0.19rem));
        gap: 0.625rem;

        .dot { grid-area: 4 / 1 / 5 / 2; }
        .zero { grid-area: 4 / 2 / 5 / 3; }
        .one { grid-area: 3 / 1 / 4 / 2; }
        .two { grid-area: 3 / 2 / 4 / 3; }
        .three { grid-area: 3 / 3 / 4 / 4; }
        .four { grid-area: 2 / 1 / 3 / 2; }
        .five { grid-area: 2 / 2 / 3 / 3; }
        .six { grid-area: 2 / 3 / 3 / 4; }
        .seven { grid-area: 1 / 1 / 2 / 2; }
        .eight { grid-area: 1 / 2 / 2 / 3; }
        .nine { grid-area: 1 / 3 / 2 / 4; }
        .add { grid-area: 4 / 3 / 5 / 4; }
        .subtract { grid-area: 4 / 4 / 5 / 5; }
        .multiply { grid-area: 3 / 4 / 4 / 5; }
        .split { grid-area: 2 / 4 / 3 / 5; }
        .more-ops { 
            display: block;
            grid-area: 1 / 4 / 2 / 5; 
        }
    }
}