@import '../../scss/abstracts/variables';

.calc{
    &__panels{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 11.4375rem 3.875rem;
        gap: 0.625rem;

        height: 25.6875rem;

        background: $blackColor;

        @media screen and (max-width: 660px) {
            padding: 0 2.1875rem 3.875rem;
            height: 23.6875rem;
        }
    }

    &__keypads{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: auto;
        max-width: 146rem;
        padding: 90px 183px;
        gap: 5rem;
        flex-wrap: nowrap;

        @media screen and (max-width: 64.9375rem){
            flex-wrap: wrap;
        }

        @media screen and (max-width: 660px) {
            padding: 5.1875rem 2.1875rem 3.875rem;
            justify-content: center;
        }
    }
}
