@import '../../scss/abstracts/variables';

.controls{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;
    position: absolute;
    top: -3.75rem;
    flex-wrap: wrap;

    &__equals-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        gap: 0.6rem;
        cursor: pointer;

        width: 7.3rem;
        height: 7.3rem;
        background: linear-gradient(80deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
        background-size: 999% 800%;
        animation: gradient 16s linear infinite;
        animation-direction: alternate;
        border-radius: 2.3rem;

        border-width: 6px 6px 12px 6px;
        border-style: solid;
        border-color: rgb(255 255 255 / 28%);

        @media screen and (max-width: 80.625rem){
            width: 6em;
            height: 6rem;
            border-radius: 1.8rem;
            & svg{
                height: 1.4rem;
            }
        }

        @media screen and (max-width: 41.25rem) {
            width: 55px;
            height: 55px;
            border-radius: 0.9375rem;

            border-width: 4px 4px 7px 4px;
            & svg{
                height: 13px;
            }
        }

        @keyframes gradient {
            0% {background-position: 0%}
            100% {background-position: 100%}
        }
    }

    &__clear-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        gap: 0.6rem;

        cursor: pointer;
        color: $blackColor;
        font-size: 1.5rem;
        font-weight: 700;

        width: 6.6rem;
        height: 3.6rem;

        background: $whiteColor;
        border-width: 0.25rem 0.25rem 0.5rem 0.25rem;
        border-style: solid;
        border-color: #DBDBDB;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        border-radius: 2.3rem;

        @media screen and (max-width: 80.625rem){
            width: 5.625rem;
            font-size: 1.3125rem;
        }
        
        @media screen and (max-width: 41.25rem){
            width: 2.625rem;
            height: 2.1875rem;
            font-size: 0.875rem;
            border-width: 2px 2px 4px 2px;
            border-radius: 0.6875rem;
        }
    }

    @media screen and (max-width: 80.625rem) {
        top: -3.125rem;
    }

    @media screen and (max-width: 41.25rem) {
        top: -29px;
        gap: .8rem;
        margin-left: 2.1875rem;
        left: 0;
    }
}