@import '../../scss/abstracts/variables';

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 11.4375rem;
    gap: 0.625rem;
    width: 100%;
    height: $heightHeader;
    position: absolute;

    background-color: $blackColor;
    color: $whiteColor;

    &__logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.375rem;

        
    }
    &__logo-img{
        width: 2.375rem;
        height: 2.375rem;
        background-color: white;
        border-radius: 50%;

        background: linear-gradient(80deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
        background-size: 600% 100%;
        animation: gradient 16s linear infinite;
        animation-direction: alternate;
        border-radius: 2.3rem;
    }
    &__logo-h1{
        font-size: 1.5rem;
        color: $whiteColor;
        font-weight: 700;
    }

    @media screen and (max-width: 41.25rem) {
        padding: 10px 35px;

        &__logo{
            gap: 0.625rem;
        }

        &__logo-img{
            width: 1.9375rem;
            height: 1.9375rem;
        }

        &__logo-h1{
            font-size: 0.9375rem;
        }
    }
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
